# Redirect HTTP to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect www.fileorganizer.odsantos.com to fileorganizer.odsantos.com
RewriteCond %{HTTP_HOST} ^www\.fileorganizer\.odsantos\.com [NC]
RewriteRule ^(.*)$ https://fileorganizer.odsantos.com/$1 [L,R=301]
