name: Deploy PHP to Namespace.com

on:
  push:
    branches:
      - main
    paths:
      - '**.php'
      - 'assets/**' # Trigger for asset changes as well

jobs:
  deploy:
    name: Deploy to hosting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          server-dir: /public_html/
          exclude: |
            .git*
            .git*/**
            **/node_modules/**
            **/.github/**
            organizer.py
            docs/**
            *.md
